services:
  - type: web
    name: saas-backend
    env: node
    region: oregon
    plan: free
    buildCommand: ""
    startCommand: node dist/main.js
    envVars:
      - key: JWT_SECRET
        value: supersecret123
      - key: MONGO_URI
        value: mongodb://saasadmin:strongpassword123@127.0.0.1:27017/saas_dashboard?authSource=admin
      - key: CLIENT_URL
        value: https://saas-frontend-orcin.vercel.app
